# Dependencies
/backend/vendor/bundle
/frontend/node_modules
/frontend/.next

# Environment
.env
.env.local
.env.*.local
/backend/config/master.key
/backend/config/credentials.yml.enc
/secrets/

# Logs
/backend/log/
/backend/tmp/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Build
/frontend/out/
